@model IEnumerable<EquipmentRequestApp.Models.Equipment>

<h1>All Equipment</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Type</td>
                <td>@item.Description</td>
                <td>@(item.IsAvailable ? "Available" : "Not Available")</td>
            </tr>
        }
    </tbody>
</table>
