<h1 class="text-center text-purple mt-4">Request Submitted</h1>
<p class="text-center text-lightpurple">
    Your request has been submitted successfully. Someone from the IT department will be in touch soon.

</p>
<!-- Confirmation Page -->
<style>
    .text-purple {
        color: purple; 
    }

    .text-lightpurple {
        color: #9370DB; 
    }

    p {
        font-size: 1.2rem; 
    }
</style>
